<div id="<%= dom_id moment %>" class="text-center">
  <p class="my-5 mx-auto">
    <%= link_to "##{moment.id} #{moment.wassup}", moment, class: "underline" %>
  </p>

  <p class="my-5">
    <img src="<%= moment.gif_url %>" alt="<%= moment.wassup %>" class="mx-auto">
  </p>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
</div>
