<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4" data-controller="select-gif">
  <% @gifs&.each do |gif| %>
    <div class="mb-4" data-action="click->select-gif#selectGif" data-gif-url="<%= gif[:tinygif] %>">
      <%= image_tag gif[:tinygif], class: "rounded-lg" %>
    </div>
  <% end %>
</div>
