<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <% @gifs&.each do |gif| %>
    <div class="mb-4 individual-gif"
      data-controller="select-gif"
      data-select-gif-target="gif"
      data-action="click->select-gif#selectGif"
      data-select-gif-url-value="<%= gif[:gif] %>">
      <%= image_tag gif[:tinygif], class: "cursor-pointer" %>
    </div>
  <% end %>
</div>
