<%= turbo_stream.replace :search_gif_results do %>
  <%= turbo_frame_tag :search_gif_results do %>
    <p class="pb-4">Choose a GIF to go with your moment</p>
    <%= render partial: "moments/search_gif", locals: { gifs: @gifs } %>
  <% end %>
<% end %>
